In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [4]:
heart_data <- read_csv("processed.hungarian.data", 
                       col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"))
head(heart_data, 8)

Rows: 294 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): trestbps, chol, fbs, restecg, thalach, exang, slope, ca, thal
dbl (5): age, sex, cp, oldpeak, num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 28  1   2  130      132  0   2       185     0     0       ?     ?  ?    0
2 29  1   2  120      243  0   0       160     0     0       ?     ?  ?    0
3 29  1   2  140      ?    0   0       170     0     0       ?     ?  ?    0
4 30  0   1  170      237  0   1       170     0     0       ?     ?  6    0
5 31  0   2  100      219  0   1       150     0     0       ?     ?  ?    0
6 32  0   2  105      198  0   0       165     0     0       ?     ?  ?    0
7 32  1   2  110      225  0   0       184     0     0       ?     ?  ?    0
8 32  1   2  125      254  0   0       155     0     0       ?     ?  ?    0